@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #db4a4a;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color:#db4a4a;
}

/* headings and logo */

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    color:#db4a4a;
}

#logo {
    text-decoration: none;
    letter-spacing: 2px;
    margin: 30px;
    font-size: 300%;
}

#navbar {
    list-style-type: none;
    margin: 20px;
    font-size: 150%;
    display: flex;
    flex-direction: row;
}

#navbar li {
    padding: 20px;
}

.active {
    border-bottom: 2.5px solid #db4a4a;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

