@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #db4a4a
}

